

        body{
            color: black;
            font-family: Verdana, Arial, Geneva, Arial Black;
            background-image: url(background3.jpg);
        }
        h1 {
            color:black;
            margin-left: auto;
            margin-right: auto;
            padding-left: auto;
            
        }
        h2, h3{
        
            font-family:Arial, Helvetica, sans-serif;
            font-size: large;
            border-bottom: 2px solid black;

        }
        p.gold{
            color: gold;
        }
        .underline{
            text-decoration: underline, overline;
        }
        .red{
            color:crimson;
        }

        p{  
            font-style: italic;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: gold;
            border: 1px solid rgb(233, 10, 10);
            padding: 10px;
            background-color: crimson;
            border-color: black;
            border-width: 2px;
            border-style: ridge;
            margin: 20px;
            margin-top: 50px;
            line-height: 25px;
        }

        .imagec{
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 3px;
            background-color: silver;
            border-color: black;
            border-width: 2px;
            border-style: ridge;
        }